/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap'); */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: .2s;
}

a:hover {
    letter-spacing: .05rem;
    transition: .3s;
}

.main .maintxt {
    padding: 1.5rem;
    padding-top: 5rem;
    width: 40%;
    color: white;
}

.main .abttxt {
    padding: .8rem;
    padding-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
    width: 70%;
    color: white;
    margin: auto;
}

.mainbtns {
    margin-top: 1rem;
    display: flex;
}

.mainbtns h5 {
    padding: 2rem;
    font-weight: 400;
}

.mainbtns a {
    border-radius: .2rem;
    padding: 0.5rem;
    color: whitesmoke;
}

#btn1 {
    background: #69a4fe;
    margin: 0.5rem;
}

#btn2 {
    background: #9eafc9;
}

.allbtns {
    margin: 1.5rem;
}

.allbtns a {
    color: whitesmoke;
    padding: 0.4rem;
    border-radius: .3rem;
}

.restsec {
    background: #dbd8d3;
    padding: 2rem;
}

.tops {
    text-align: center;
    margin: 1rem;
    width: 55%;
}

.tops h4 {
    text-transform: uppercase;
}

.picsec {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.2rem;
    margin-top: 4rem;
    margin: 2rem;
}

.picsec2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.2rem;
    margin-top: 4rem;
    margin: 2rem;
}

.picsec2 .imgtags img {
    width: 80%;
    height: 70%;
}

.picsec2 h4 {
    font-size: 1.2rem;
}

.imgtags {
    text-align: center;
}

.picsec .imgtags {
    width: 80%;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.imgtags img {
    width: 100%;
}

.imgtags .txt {
    margin-top: 1rem;
}

.funcs {
    margin: 2.3rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    padding: 1.3rem;
}

.txt ul{
    padding-left: 0;
}

/* 
.funcs .txt ul li{
    list-style: disc;
} */
.sect {
    display: flex;
    padding: 1rem;
    margin: 1.5rem;
    align-items: center;
}

.sect img {
    max-width: 50%;
    border-radius: .2rem;
}

.sect .txt {
    padding: 1rem;
}

.lowersec {
    text-align: center;
    margin: 1rem;
}

.lowersec h5 {
    text-transform: uppercase;
    font-size: 1rem;
}

.contact {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem;
}

.side .sect img {
    height: auto;
    width: auto;
}

.contform textarea,
.contform input {
    width: 80%;
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    margin-bottom: 1rem;

}

textarea {
    height: 5rem;
}

.footer {
    background: #404040;
    width: 100%;
}

.contdetail label {
    color: white;
}

.contform .btn-send {
    border-radius: .2rem;
    padding: 0.5rem;
    width: 5rem;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
}

/* Login Form and Registration */
.reg {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 1rem;
    padding: 2rem;
}

.reg img {
    height: auto;
    width: 100%;
}

.reg1 .regform {
    background: #d9d9d9;
    border: none;
    padding: 2rem;
    border-radius: .5rem;
    width: 80%;
}

.regform input[type=text],
.regform input[type=date],
.regform input[type=password] {
    background: #b9d4ff;
    border-radius: .2rem;
    border: none;
    outline: none;
    padding: .8rem;
    margin: .8rem;
    width: 80%;
}

.regform select {
    background: #b9d4ff;
    border-radius: .2rem;
    border: none;
    outline: none;
    padding: .8rem;
    margin: .8rem;
    width: 85%;
}

.regform input[type=file] {
    background: #b9d4ff;
    border-radius: .2rem;
    border: none;
    outline: none;
    padding: .7rem;
    margin: .8rem;
    width: 80%;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 5px 16px;
    border-radius: .2rem;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.regform .btn-submit {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 1rem;
    background: #b9d4ff;
    color: black;
}

.regform h5 {
    margin-left: auto;
    padding: 0.4rem;
    margin: 1rem;
    color: black;
}

.regform h4 span {
    margin-left: auto;
    padding: 0.4rem;
    font-size: 0.8rem;
    margin: 1rem;
    color: black;
}


/* profile  */