/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap'); */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a:hover {
    letter-spacing: .05rem;
    transition: .3s;
}

.main .maintxt {
    padding: 1.2rem;
    padding-top: 5rem;
    width: 40%;
    color: white;
}

.main .abttxt {
    padding: 1.2rem;
    padding-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
    width: 50%;
    color: white;
}

.mainbtns {
    margin-top: 1rem;
    display: flex;
}

.mainbtns h5 {
    padding: 2rem;
    font-weight: 400;
}

.mainbtns a {
    border-radius: .2rem;
    padding: 0.5rem;
    color: whitesmoke;
}

#btn1 {
    background: #69a4fe;
}

#btn2 {
    background: #9eafc9;
}

.navbar {
    background: #b9cfff;
    padding: 1rem;
}

.navbar ul {
    /* padding: 0.3rem; */
    overflow: hidden;
}

.navbar li {
    display: inline-block;
    padding: 0.3rem;
}

.navbar ul li a {
    color: black;
}

.allbtns {
    margin: 1.5rem;
}

.allbtns a {
    color: whitesmoke;
    padding: 0.4rem;
    border-radius: .3rem;
}

.restsec {
    background: #dbd8d3;
    padding: 2rem;
}

.tops {
    text-align: center;
    margin: 1rem;
    width: 55%;
}

.tops h4 {
    text-transform: uppercase;
}

.picsec {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.2rem;
    margin-top: 4rem;
    margin: 2rem;
}

.imgtags {
    text-align: center;
}

.picsec .imgtags {
    width: 80%;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.imgtags img {
    width: 100%;
}

.imgtags h3 {
    padding: 1rem;
    margin: auto;
    background: #404040;
    border-radius: 50%;
    width: 30px;
    align-self: center;
}

.sect {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.sect .txt {
    padding: 1.2rem;
}

.lowersec {
    text-align: center;
    margin: 1rem;
}

.lowersec h5 {
    text-transform: uppercase;
    font-size: 1rem;
}

.contact {
    padding: 2rem;
}

.side .sect img {
    height: auto;
    width: auto;
}

.contact input,
.contact textarea {
    width: 500px;
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    margin-bottom: 1rem;

}

textarea {
    height: 100px;
}

.footer {
    background: #404040;
}



@media (max-width: 756px) {
    .main {
        height: 45vh;
    }

    .main .maintxt {
        padding: .5rem;
        padding-top: 1.5rem;
        width: 80%;
    }
}

@media (min-width: 250px) and (max-width: 550px) {}