@media (max-width: 756px) {
    .main {
        height: 50vh;
    }

    .main .maintxt {
        padding: .5rem;
        padding-top: 1.5rem;
        width: 80%;
    }

    .tops {
        text-align: center;
        margin: 1rem;
        width: 80%;
    }

    .tops p {
        text-align: left;
    }

    .picsec {
        grid-template-columns: 100%;
        gap: .2rem;
        margin-top: 2rem;
        margin: 1rem;
    }

    .picsec .txt {
        margin: auto;
        text-align: center;
    }

    .picsec .imgtags {
        width: 90%;
        padding: 1.2rem;
        justify-content: center;
    }

    .sect {
        display: block;
        /* padding: 1rem;
        margin: 1rem; */
    }

    .side .sect img {
        height: auto;
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer form {
        width: 80%;
    }

    .contact {
        grid-template-columns: auto;
    }

    .contform input,
    .contform textarea {
        width: 100%;
        padding: .3rem;
    }

    textarea {
        height: 5rem;
    }

    /* about page starts here */
    .main .abttxt {
        padding-top: 1.3rem;
        font-size: 1.5rem;
        text-align: left;
        width: 70%;
    }

    .sect img {
        max-width: 100%;
    }

    .picsec2 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.2rem;
        margin: 0.5rem;
    }

    /* .imgtags p {
        text-align: left;
    } */

    .picsec2 .imgtags img {
        width: 90%;
        height: 60%;
    }

    .picsec2 .imgtags .txt {
        text-align: left;
        padding: 0.5rem;
    }

    .funcs {
        /* display: grid; */
        grid-template-columns: auto;
    }

    .reg img {
        display: none;
    }

    .reg {
        display: grid;
        grid-template-columns: auto;
        gap: .1rem;
        padding: 1rem;
        justify-content: center;
    }

    .reg1 .regform {
        padding: 1rem;
        width: 90%;
    }

    .regform input {
        padding: .8rem;
        margin: .4rem;
        width: 85%;
    }

    .mainbtns {
        margin-top: 1rem;
    }
}

@media (min-width: 757px) and (max-width: 850px) {}