/* Basic styling */
.navbar {
    background: #b9cfff;
    transition: all .3s;
    padding: 1rem;
}

.navbar-brand{
    color: #222;
    text-decoration: none;
}
.nav-link, i{
    color: #222 !important;
}
.logo {
    font-size: 1rem;
    padding: .5rem;
}


.toggle {
    order: 1;
    font-size: 20px;
}