/* Basic styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .3s;
    padding: 1rem;
}

.bx-menu {
    color: green !important;
    border: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0 !important;
}

.navbar-brand img {
    height: 50px;
}

.logo {
    font-size: 1rem;
    padding: .5rem;
}


.toggle {
    order: 1;
    font-size: 20px;
}

/* .raff-item {
    background: #55C595;
    padding: 0.1rem .4rem;
    border-radius: 3rem;
} */

.raff-item a {
    background: #55C595;
    padding: 0.5rem 1.6rem;
    border-radius: 1.2rem;
    color: #FDFDFD !important;
}

@media (max-width: 765px) {
    .navbar-brand img {
        height: 20px;
    }

    .raff-item a {
        padding: 0.2rem 1.2rem !important;
        border-radius: 2rem;
    }
}