/* Basic styling */
.navbar {
    background: #1d1b31;
    transition: all .3s;
    padding: 1rem;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: #fff;
}

i, .bx {
    color: var(--color-primary-variant);
    font-size: 1.2rem;
}

.logo {
    font-size: 1rem;
    padding: .5rem;
}


.toggle {
    order: 1;
    font-size: 20px;
}